@charset "UTF-8";
@font-face {
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400;
    src: local("Lato-Regular"), local("Lato-Regular"), url("assets/fonts/Lato-Regular.woff2") format("woff2"), url("assets/fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
    font-family: 'Lato-Light';
    font-style: normal;
    font-weight: 300;
    src: local("Lato-Light"), local("Lato-Light"), url("assets/fonts/Lato-Light.woff2") format("woff2"), url("assets/fonts/Lato-Light.ttf") format("truetype"); }
    
@font-face {
    font-family: 'Lato-Bold';
    font-style: normal;
    font-weight: 700;
    src: local("Lato-Bold"), local("Lato-Bold"), url("assets/fonts/Lato-Bold.woff2") format("woff2"), url("assets/fonts/Lato-Bold.ttf") format("truetype"); }
    
@font-face {
    font-family: 'Lato-Black';
    font-style: normal;
    font-weight: 400;
    src: local("Lato-Black"), local("Lato-Black"), url("assets/fonts/Lato-Black.woff2") format("woff2"), url("assets/fonts/Lato-Black.ttf") format("truetype"); }





html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Lato-Regular', Verdana, sans-serif;
}

.portfolio {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2d303a;
    height: 864px;
    border-bottom: 6px solid #323746;
}

.portfolio-container {
    max-width: 940px;
    padding-left: 40px;
    text-align: justify;
}

.portfolio-header {
    padding-top: 63px;
    color: #666d89;
    font-family: 'Lato-Black';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.portfolio-desc {
    margin-top: 21px;
    margin-bottom: 0px;
    color: #767e9e;
    font-family: 'Lato-Regular';
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.34px;
}

.portfolio-buttons {
    display: flex;
    justify-content: left;
    font-family: 'Lato-Regular';
    font-size: 12px;
    font-weight: 400;
    color: #767e9e;
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
    margin-top: 12px;
}

.portfolio-button {
    height: 22px;
    border: 1px solid #666d89;
    border-radius: 5px;
    margin-right: 8px;
    cursor: pointer;
}

.button-active, .portfolio-button:hover {
    border: 1px solid #c5c5c5;
    color: #dedede;
}

.all {
    width: 29px;
}

.web {
    width: 78px;
}

.graphic {
    width: 93px;
}

.art {
    width: 57px;
}

.image-container {
    display: grid;
    margin-top: 18px;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 187px 187px 187px;
    grid-gap: 20px;
    overflow: hidden;
}

.picture {
    width: 220px;
    height: 187px;
}

.picture-1 {
    background-image: url('assets/images/image1.png');
    background-position-x: -8px;
    background-position-y: -11px;
    background-size: 238px auto; /*108.2% auto; */
}

.picture-2 {
    background-image: url('assets/images/image2.png');
    background-position-x: -82px;
    background-position-y: -43px;
    background-size: 364px auto; /*165.5% auto; */
}

.picture-3 {
    background-image: url('assets/images/image3.png');
    background-position-x: -11px;
    background-position-y: -1px;
    background-size: 250px auto; /*113.6% auto; */
}

.picture-4 {
    background-image: url('assets/images/image4.png');
    background-position-x: -24px;
    background-position-y: -2px;
    background-size: 262px auto; /*119.1% auto; */
}

.picture-5 {
    background-image: url('assets/images/image5.png');
    background-position-x: -10px;
    background-position-y: -16px;
    background-size: 242px auto; /*110% auto; */
}

.picture-6 {
    background-image: url('assets/images/image6.png');
    background-position-x: -16px;
    background-position-y: -4px;
    background-size: 258px auto; /*117.3% auto; */
}

.picture-7 {
    background-image: url('assets/images/image7.png');
    background-position-x: -31px;
    background-position-y: -39px;
    background-size: 372px auto; /*169.1% auto; */
}

.picture-8 {
    background-image: url('assets/images/image8.png');
    background-position-x: -24px;
    background-position-y: -32px;
    background-size: 278px auto; /*126.4% auto; */
}

.picture-9 {
    background-image: url('assets/images/image9.png');
    background-position-x: -16px;
    background-position-y: -2px;
    background-size: 254px auto; /*115.5% auto; */
}

.picture-10 {
    background-image: url('assets/images/image10.png');
    background-position-x: -141px;
    background-position-y: -113px;
    background-size: 474px auto; /*215.5% auto; */
}

.picture-11 {
    background-image: url('assets/images/image11.png');
    background-position-x: -144px;
    background-position-y: -175px;
    background-size: 414px auto; /*119.1% auto; */
}

.picture-12 {
    background-image: url('assets/images/image12.png');
    background-position-x: -36px;
    background-position-y: -60px;
    background-size: 296px auto; /*134.5% auto; */
}

.aboutus {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    height: 728px;
    border-bottom: 6px solid white;
}

.aboutus-container {
    max-width: 940px;
    padding-left: 40px;
    text-align: justify;
}

.aboutus-header {
    padding-top: 62px;
    color: #666d89;
    font-family: 'Lato-Black';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.1px;
}

.aboutus-desc {
    margin-top: 17px;
    margin-bottom: 0px;
    color: #767e9e;
    font-family: 'Lato-Regular';
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.34px;
    line-height: 30px;
}

.aboutus-person {
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
}

.person-1, .person-2, .person-3 {
    width: 300px;
    margin-top: 43px;
}

.person-1-name {
    margin-top: 12px;
    margin-bottom: 0px;
    max-height: 22px;
    color: #666d89;
    font-family: 'Lato-Black';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.1px;
    overflow: hidden;
}

.person-1-desc {
    margin-top: 7px;
    margin-bottom: 0px;
    max-height: 42px;
    color: #767e9e;
    font-family: 'Lato-Regular';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.15px;
    overflow: hidden;
    line-height: 21px;
}

.person-1-social-icons {
    display: flex;
    width: 152px;
    padding: 0;
    margin-top: 23px;
    margin-left: 1px;
    justify-content: space-between;
}

.person-1-social-icons li {
    list-style-type: none;
}

.social-ico-navigation__item{
    width: 32px;
    height: 32px;
}

